#my-navbar {
	background-color: white!important;
}

.nav-item{
	margin: 0 30px;
}

.nav-link {
	font-size: 2vw;
	color: steelblue;
}

h1 {
	text-align: center;
	font-size: 7vw;
	padding-top: 130px;
	color: dimgrey;
}

h3 {
	text-align: center;
	font-size: 2.5vw;
	color: dimgrey;
}

p {
	text-align: center;
	font-size: 1vw;
	color: dimgrey;
}

#my-fam {
	margin-top: 50px;
	margin-bottom: 50px;
}

#my-frds {
	margin-top: 50px;
	margin-bottom: 50px;
}

.col-8 {
	margin-left: 100px;
	width: 100%;
}

input {
	width: 70%;
	padding: 6px;
	box-sizing: border-box;
	resize: vertical;
}

.button-button-1{
	box-sizing: border-box;
  	resize: vertical;
    background-color: palevioletred;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button-button-2{
	box-sizing: border-box;
  	resize: vertical;
    background-color: peachpuff;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button-button-3{
	box-sizing: border-box;
  	resize: vertical;
    background-color: pink;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 12px;
}

img {
	margin: 0 40px;
}

.footer {
   position: bottom;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: palegreen;
   color: white;
   text-align: center;
}
