{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title> Adhiba Mastura </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/tema1.css' %}" class="theme-style">
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class='progress' id="progress_div">
        <div class='bar' id='bar1'></div>
        <div class='percent' id='percent1'></div>
    </div>
    <!-- Card -->
    <div class="card card-image">
      <h1> Selamat Datang! </h1>

        <!-- Content -->
        <div class="rgba-black-strong py-5 px-4">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-xl-8">

                    <!--Accordion wrapper-->
                    <div class="accordion md-accordion accordion-5" id="accordionEx5" role="tablist" aria-multiselectable="true">

                        <!-- Accordion card -->
                        <div class="card mb-4">

                            <!-- Card header -->
                            <div class="card-header p-0 z-depth-1" role="tab" id="heading30" name="heading30">
                                <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse30" aria-expanded="true" aria-controls="collapse30">
                                    <i class="fa fa-cloud fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                                    <h4 class="text-uppercase white-text mb-0 py-3 mt-1">
                                        Profil
                                    </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapse30" class="collapse show" role="tabpanel" aria-labelledby="heading30" data-parent="#accordionEx5">
                                <div class="card-body rgba-black-light white-text z-depth-1">
                                  <center><img src="https://preview.ibb.co/kbVufK/dhb.jpg" border="0" style="width: 20%; height: 20%;"></center>
                                    <p class="p-md-4 mb-0">Halo! Nama saya Adhiba Mastura, biasa dipanggil Dhiba. Umur saya 19 tahun dan saya tinggal di Cinere. Saya memiliki dua kakak dan satu adik. Hobi saya adalah menonton film. Saya sedang menjalani pendidikan di Univeritas Indonesia, Fakultas Ilmu Komputer dan jurusan Sistem Informasi. Website ini adalah salahsatu tugas saya dari mata kuliah Perancangan dan Pemrograman Web. Sekarang, saya sedang mengikuti 2 kepanitiaan, yaitu menjadi Bendahara di CGT 2019 dan menjadi Wakil Penanggungjawab Stage di Compfest 11.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->

                        <!-- Accordion card -->
                        <div class="card mb-4">

                            <!-- Card header -->
                            <div class="card-header p-0 z-depth-1" role="tab" id="heading31">
                                <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse31" aria-expanded="true" aria-controls="collapse31">
                                    <i class="fa fa-commenting-o fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                                    <h4 class="text-uppercase white-text mb-0 py-3 mt-1">
                                        Pengalaman Kepanitiaan
                                    </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapse31" class="collapse" role="tabpanel" aria-labelledby="heading31" data-parent="#accordionEx5">
                                <div class="card-body rgba-black-light white-text z-depth-1">
                                    <p class="p-md-4 mb-0">Sebelum saya kuliah di Fasilkom, saya mengikuti beberapa kepanitiaan seperti mengurus acara tahunan di SMA saya dan musik festival bernama Archipelago Festival. Setelah masuk Fasilkom, saya mengikuti beberapa kepanitiaan. Saya pernah menjadi Staff Stage di Compfest X, Bendahara di Wisuda Genap 2018 dan LO di OH Fasilkom 2018.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->

                        <!-- Accordion card -->
                        <div class="card mb-4">

                            <!-- Card header -->
                            <div class="card-header p-0 z-depth-1" role="tab" id="heading32">
                                <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse32" aria-expanded="true" aria-controls="collapse32">
                                    <i class="fa fa-cogs fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                                    <h4 class="text-uppercase white-text mb-0 py-3 mt-1">
                                        Prestasi
                                    </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapse32" class="collapse" role="tabpanel" aria-labelledby="heading32" data-parent="#accordionEx5">
                                <div class="card-body rgba-black-light white-text z-depth-1">
                                    <p class="p-md-4 mb-0">Alhamdulillah, selama di Fasilkom saya belum ada prestasi, mohon doanya agar saya bisa menambah prestasi saya. :)</p>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->
                    </div>
                    <!--/.Accordion wrapper-->

                </div>
            </div>
        </div>
        <!-- Content -->
        <div class="row">
        <div class="col-12">
          <center><button class="button theme-color" id="tema" onclick="changeTheme();"> Ubah Tema </button></center>
        </div>
      </div>
    </div>
    <!-- Card -->
    <input type="hidden" id="progress_width" value="0">
</body>
</html>