.card-image {
	background-color: lavender;
}

h1 {
	text-align: center;
	font-size: 6vw;
	padding-top: 100px;
	color: dimgrey;
}

h4 {
	color: dimgrey;
}

p {
	text-align: justify;
	font-size: 1vw;
	color: dimgrey;
}

.button {
	box-sizing: border-box;
  	resize: vertical;
    background-color: palevioletred;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#heading30, #heading31, #heading32 {
	background-color: cornsilk;
}

.progress 
{
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 z-index: 9999;
 background-color: #F2F2F2;
}
.bar 
{ 
  background-color: coral; 
  width:0%; 
  height:5px; 
  border-radius: 3px; 
}
.percent 
{ 
  position:absolute; 
  display:inline-block; 
  top:3px; 
  left:48%; 
}