{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title> Adhiba Mastura - Feedback</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
body {
	background-image: url("https://preview.ibb.co/hvP3mp/aboutbg.jpg");
	background-repeat: repeat;
	background-size: contain;
}
</style>
</head>
<body>
	<form action="">
		<div class="col-8">
			<br>
			Tell me what you think about my website! :<br> <br>
	  		<input type="text" name="Critics" style="height: 200px; padding: 12px 12px 12px 0;">
	  		<br><br>
	  		<button class="button-button-1"> Submit </button>
	  		<br> <br> <br> <br> <br>
	  	</div>
	</form>
</body>
</html>
{% include 'footer.html' %}