{% load static %}
<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<footer>

	<div class = "footer">
		<br>
		<div class="container-fluid">
			<div class="row-10">
				<center>
				<div class="column">
					<img class='img' src="https://image.flaticon.com/icons/svg/482/482948.svg" border="0" style="width: 4%; height: 4%">
					<img class='img' src="https://image.flaticon.com/icons/svg/1051/1051333.svg" border="0" style="width: 4%; height: 4%">
					<img class='img' src="https://image.flaticon.com/icons/svg/15/15886.svg" border="0" style="width: 4%; height: 4%">
					<img class='img' src="https://image.flaticon.com/icons/svg/87/87390.svg" border="0" style="width: 4%; height: 4%">
				</div>
				</center>
			</div>
		</div>
		<br>
	</div>

</footer>
</html>