{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title> Adhiba Mastura - Register</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
body {
	background-image: url("https://preview.ibb.co/hvP3mp/aboutbg.jpg");
	background-repeat: repeat;
	background-size: contain;
}
</style>
</head>
<body>
	<form action="">
		<div class="col-8">
			<br>
			Name :<br>
	  		<input type="text" name="Name">
	  		<br> <br>
	  		Date of Birth :<br>
	  		<input type="date" name="DoB">
	  		<br> <br>
	  		Email :<br>
	  		<input type="Email" name="Email">
	  		<br> <br>
	  		Username :<br>
	  		<input type="text" name="Username">
	  		<br> <br>
	  		Password :<br>
	  		<input type="Password" name="Passowrd">
	  		<br> <br>
	  		Password Confirmation :<br>
	  		<input type="Password" name="PasswordConfirmation">
	  		<br><br>
	  		<button class="button-button-2"> Register </button>
	  		<br> <br>
	  	</div>
	</form>
</body>
</html>
{% include 'footer.html' %}