{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title> Adhiba Mastura - Home</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
body {
	background-image: url("https://preview.ibb.co/nf7Omp/homebg.jpg");
	background-repeat: repeat;
	background-size: contain;
}
</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1> WELCOME! I'M DHIBA. </h1>
				<h3> I'D RATHER BE COOKING BUT HERE WE ARE, SO ENJOY! :) </h3>
				<br> <br> <br> <br> <br> <br> <br>
			</div>
		</div>
	</div>
</body>
</html>
{% include 'footer.html' %}