{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title> Adhiba Mastura - Schedule</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
body {
	background-image: url("https://preview.ibb.co/hvP3mp/aboutbg.jpg");
	background-repeat: repeat;
	background-size: contain;
}
</style>
</head>
<body>
	<form method ="POST" action='schedule'>
		{% csrf_token %}
		<div class="col-8">
			<br>
			Date and Time :<br>
	  		<input type="datetime-local" name="date" id="date">
	  		<br> <br>
	  		Category :<br>
	  		<input type="text" name="category" id="category">
	  		<br> <br>
			Activity :<br>
	  		<input type="text" name="activity" id="activity" placeholder="Normal/Urgent">
	  		<br> <br>
	  		Place :<br>
	  		<input type="text" name="place" id="place">
	  		<br><br>
	  		<button class="button-button-3" id="add" name="add"> Add </button> <button class="button-button-3" id="deleteall" name="deleteall"> Delete All </button>
	  		<br> <br> <br>
	  	</div>
	</form>
	<table align="center" style="width: 50%;" border="2" bgcolor="lavender">
		<th><center>Date and Time</center></th>
		<th><center>Category</center></th>
		<th><center>Activity</center></th>
		<th><center>Place</center></th>

		{% for agenda in schedule_dict %}
        <tr border="2">
	        <td class="date"><center>{{ agenda.date }}</center></td>
	        <td class="activity"><center>{{ agenda.activity }}</center></td>
	        <td class="place"><center>{{ agenda.place }}</center></td>
	        <td class="category"><center>{{ agenda.category }}</center></td>
        </tr>
   		{% endfor %}

    </table>
    <br><br>
</body>
</html>
{% include 'footer.html' %}